/* The starting CSS styles for the enter animation */
.slide-down.ng-enter {
  opacity: 1;
  -webkit-transform: translateY(-25px);
  -moz-transform: translateY(-25px);
  transform: translateY(-25px);
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
/* The finishing CSS styles for the enter animation */
.slide-down.ng-enter.ng-enter-active {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
.slide-down.ng-leave {
  transition: none;
  opacity: 1;
}
.slide-down.ng-leave.ng-leave-active {
  opacity: 0;
}

/* app css stylesheet */
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}
.menu:before {
  content: "[";
}
.menu:after {
  content: "]";
}
.menu > li {
  display: inline;
}
.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}
.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
.headerRow {
  background-color: #999999;
  align: right;
}
.hasbg {
  background-size: cover;
  background: #FFFFFF url(../assets/img/smallIcon.jpg) no-repeat;
}
aside {
  background-color: #40547C;
  font-color: #FFFFFF;
}
/*TODO: find proper fix for this bug in bootstrap */
#fooModal {
  padding-right: 2px!important;
}
.modal-dialog {
  /*margin: 0px!important;*/
  /*padding: 7px!important;*/
}
/*animations*/
.help.ng-enter {
  -webkit-animation: 0.5s fade-in;
  -moz-animation: 0.5s fade-in;
  -o-animation: 0.5s fade-in;
  animation: 0.5s fade-in;
  z-index: 100;
}
.help.ng-leave {
  -webkit-animation: 0.5s fade-out;
  -moz-animation: 0.5s fade-out;
  -o-animation: 0.5s fade-out;
  animation: 0.5s fade-out;
  z-index: 99;
}
.re-field-label-inline {
  font-weight: bold;
}
.re-section-header {
  font-size: 24px;
  font-family: 'ProximaNova-Semibold';
  color: #3A5A78 ;
  padding-top: 10px;
}
.re-full-width-input {
  display: inline-flex;
  width: 100%;
}
.re-full-width-input input,
.re-full-width-input select {
  width: 90%;
  display: inline-block;
}
@media (max-width: 767px) {
  .re-full-width-input input,
  .re-full-width-input select {
    width: 85%;
    display: inline-block;
  }
}
@media (max-width: 339px) {
  .re-full-width-input input,
  .re-full-width-input select {
    width: 80%;
    display: inline-block;
  }
}
.re-full-width-input span {
  padding-left: 5px;
}
.re-icon-invisible {
  visibility: hidden;
}
.re-header-help-text {
  font-family: Arial;
  font-size: 13px;
  color: #000000;
}
.re-header-phone a,
.re-header-phone span {
  font-family: Arial;
  font-size: 16px;
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}
.re-font-bold {
  font-weight: bold;
}
.re-select-width {
  width: 60%;
}
.re-mobile-call-me-now {
  float: right;
  margin-top: 8px;
}
#wc-note {
  margin-top: 20px;
}

.contactDBA-Applicable {
  width: 30px !important;
}
.re-chkbox-label {
  font-weight: normal;
  display: inline;
}
.sqft-label_normal {
  font-weight: normal;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  width: 76% !important;
  min-width: 100px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
.dropdown-menu li strong,
.dropdown-menu li b {
  color: #3A5A78;
}
.class-list > .dropdown-menu li {
  border-top: 1px solid #ccc;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background: #F6F6F6;
  color: #3A5A78;
  text-decoration: none;
  outline: 0;
  cursor: pointer;
  /* Added new property*/
}
.dropdown-menu a {
  color: #484848;
}
.dropdown-menu li:last-child a,
.dropdown-menu li:last-child a:hover {
  cursor: default;
  font-style: italic;
  color: #484848;
}
.dropdown-menu li a {
  white-space: normal;
  width: 100%;
  padding: 3px 10px;
  box-Shadow: 0 0 1px 0 rgba(0, 0, 0, 0.75);
}
.dropdown-menu {
  width: 90%;
}
.dropdown-menu {
  max-height: 190px !important;
  overflow: auto !important;
}
.alert-warning� {
  background-color: �#FEF9D4;
  border-color: �#EFC21B;
  color: �#484848;
  font-weight: �bold;
  font-size: �13px;
}
.date-picker .btn {
  text-transform: uppercase;
}
.date-picker .dropdown-menu {
  background-color: #F6F6F6;
  border-color: #CCCCCC;
  box-Shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);
  padding: 15px;
}
.date-picker thead .btn-default {
  font-weight: bold;
  color: #FFFFFF;
}
.date-picker thead .btn-default:focus,
.date-picker thead .btn-default:active {
  background: #999;
}
.date-picker thead .btn-default {
  background-color: #999999;
  border-color: #999999;
}
.date-picker thead .btn-default:active,
.date-picker thead .btn-default.active,
.date-picker thead .btn-default:hover,
.date-picker thead .btn-default:focus,
.date-picker thead .btn-default.focus,
.date-picker thead .btn-default:active,
.date-picker thead .btn-default.active {
  background-color: #999999;
  border-color: #999999;
}
.date-picker thead .btn-default:active:focus {
  background-color: #999999;
}
.date-picker li:focus,
.date-picker div:focus,
.date-picker table:focus {
  outline: none;
}
.date-picker,
.date-picker .btn,
.date-picker .h6,
.date-picker h6,
.date-picker small {
  font-size: 13px;
}
.date-picker .text-muted {
  color: #CCCCCC;
}
.date-picker table {
  border-spacing: 1px;
  border-collapse: separate;
}
.date-picker .btn.disabled,
.date-picker .btn[disabled],
.date-picker fieldset[disabled] .btn,
.date-picker .btn.disabled .text-muted,
.date-picker .btn[disabled] .text-muted,
.date-picker fieldset[disabled] .btn .text-muted {
  border-color: #DDDDDD;
  background-color: #DDDDDD;
  color: #666666;
}
.date-picker .btn.disabled:active,
.date-picker .btn[disabled]:active,
.date-picker fieldset[disabled] .btn:active,
.date-picker .btn.disabled .text-muted:active,
.date-picker .btn[disabled] .text-muted:active,
.date-picker fieldset[disabled] .btn .text-muted:active,
.date-picker .btn.disabled.active,
.date-picker .btn[disabled].active,
.date-picker fieldset[disabled] .btn.active,
.date-picker .btn.disabled .text-muted.active,
.date-picker .btn[disabled] .text-muted.active,
.date-picker fieldset[disabled] .btn .text-muted.active {
  border-color: #DDDDDD;
  background-color: #DDDDDD;
  color: #666666;
}
.date-picker .btn-default {
  font-weight: normal;
  padding: 4px 10px;
}
.date-picker .btn-default {
  background-color: #FFFFFF;
  border-color: #CCCCCC;
  color: #484848;
}
.date-picker .btn-default.btn-info {
  background-color: #822B2F;
  border-color: #822B2F;
  color: #FFFFFF;
  font-weight: bold;
}
.date-picker .pull-left,
.date-picker .pull-right {
  min-width: inherit;
}
.date-picker .btn-info:active .text-info {
  color: #FFFFFF;
  font-weight: bold;
}
.date-picker .btn-default.btn-info .text-info {
  color: #FFFFFF;
  font-weight: bold;
}
.date-picker .btn:active,
.date-picker .btn.active {
  box-shadow: none;
}
.date-picker .btn:active:hover,
.date-picker .btn.active:hover,
.date-picker .btn:active.hover .date-picker .btn:active:focus,
.date-picker .btn:active.hover .date-picker .btn.active:focus,
.date-picker .btn.active.hover .date-picker .btn:active:focus,
.date-picker .btn.active.hover .date-picker .btn.active:focus,
.date-picker .btn:active.focus,
.date-picker .btn.active.focus {
  background-color: inherit;
  color: inherit;
  border-color: inherit;
}
.form-group .date-picker > input.form-control {
  width: 90%;
}
label.re-chkbox-label {
  display: table-row;
}
.re-chkbox-label span {
  display: table-cell;
  padding-left: 7px;
  padding-bottom: 5px;
}
@media (max-width: 767px) {
  .form-group .date-picker > input.form-control {
    width: 100%;
  }
  .re-chkbox-label span {
    display: table-cell;
    padding-left: 10px;
  }
}
.acc-align {
  text-align: justify;
}
/*Added new property class in custom.less */
.chk-margin {
  margin-right: -7px !important;
}
.prod-star-img {
  font-size: 24px;
  color: #FBC104;
  margin: 0;
  /* line-height:30px; */
  margin-top: -2px;
  margin-left: 9px;
}
.dropdown-begin-ul .dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #333333;
}
.dropdown-begin-ul .dropdown-menu li:last-child a,
.dropdown-menu li:last-child a:hover {
  padding: 9px 10px;
  /* Added Padding to increase the size for "Can't find your business"*/
  background: none;
}
.pad-left-0 {
  padding-left: 0;
  margin-left: -2px;
}

body {
  background-color: #FFF;
}
@font-face {
  /*
 font-family: 'ProximaNova-Semibold';
 src: url('../../fonts/22F362_2_0.eot?#iefix') format('embedded-opentype'),
 url('../../fonts/22F362_2_0.woff') format('woff'),
 url('../../fonts/22F362_2_0.ttf') format('truetype');
 */
  font-family: 'ProximaNova-Semibold';
  src: url('../fonts/22F362_2_0.eot');
  src: url('../fonts/22F362_2_0.eot?#iefix') format('embedded-opentype'), url('../fonts/22F362_2_0.woff') format('woff'), url('../fonts/22F362_2_0.ttf') format('truetype');
}
/* 1024px - 2x20px */
a {
  color: #2477BF;
}
a:visited {
  color: #2477BF;
}
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.header-container .row-content {
  max-width: 984px;
  margin: 0 auto;
  position: relative;
}
.page-content-container {
  padding-right: 20px;
}
.site-menu-continer {
  padding-right: 5px;
}
.title-container .row-content {
  max-width: 984px;
  margin: 0 auto;
  position: relative;
}
.page-container {
  max-width: 984px;
  background-color: #FFF;
  box-shadow: 0px 5px 5px 0 #CCC;
}
.footer-container {
  max-width: 984px;
  background: #EEE;
}
site-header {
  display: block;
  background: #FFF;
  position: relative;
  height: 80px;
  /* border-bottom:1px solid #ccc; */
}
site-header .logo {
  height: 68px;
  left: -4px;
  top: 6px;
  position: absolute;
  z-index: 700;
  background: #fff;
  border-top: 0;
}
site-header h2 {
  padding: 20px 0 0 85px;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  color: #555;
  display: inline-block;
}
site-header h2 span {
  display: inline-block;
  font-size: 15px;
  color: #777;
}
site-header .utility-bar {
  background: #F6F6F6;
  padding: 4px 15px;
  text-align: right;
}
site-header .button-bar {
  padding: 15px 0;
  float: right;
}
.page-title {
  background: #b7d3e9;
  padding: 3px 15px;
}
.wrappable {
  white-space: normal;
}
.nowraplabel {
  white-space: nowrap;
}
h1 {
  /*PAGE TITLE */
  font-size: 20px;
  text-transform: uppercase;
  margin: 0;
  color: #333;
  font-weight: 100;
}
h2 {
  /*SECTION TITLE */
  font-size: 28px;
  margin: 20px 0;
  color: #3A5A78;
  font-weight: 100;
  margin: 5px 0 20px 0;
}
.form-group label.control-label {
  text-align: left;
}
.form-group.btn-bar {
  border-top: 1px solid #ccc;
  padding: 15px 0;
}
.form-group.inline-input input {
  width: auto;
  display: inline-block;
}
.form-group.inline-keyword input {
  width: 80%;
  display: inline-block;
}
.btn-group-vertical.wrap label.btn {
  white-space: normal;
  text-align: left;
}
.body-panel {
  background: #FFFFFF;
  /* border-right:1px solid #CCC; */
  padding-top: 15px;
}
.right-rail {
  /* background:#EEE;
	color:#555555; */
  font-size: 13px;
  position: relative;
}
#help-content {
  position: absolute;
  top: 30px;
}
#help-content h3 {
  margin-top: 5px;
  font-size: 14px;
  text-transform: uppercase;
  color: #555;
  font-weight: 700;
}
#help-content {
  position: relative;
  padding: 15px 0px 0px 20px;
  margin: 0;
  color: #484848;
  margin-left: -12px;
  background: #FFF;
  font-size: 14px;
}
#help-line {
  border-bottom: 6px solid #B6D3E9;
}
#help-content :after {
  content: "";
  position: absolute;
  border-style: solid;
  display: block;
  width: 0;
  top: 8px;
  left: -5px;
  bottom: auto;
  border-width: 12px 0px 12px 12px;
  border-color: rgba(0, 0, 0, 0) #ffffff;
}
#help-content :before {
  content: "";
  position: absolute;
  border-style: solid;
  display: block;
  width: 0;
  top: 8px;
  left: -4px;
  bottom: auto;
  border-width: 12px 0px 12px 12px;
  border-color: rgba(0, 0, 0, 0) #cccccc;
}
/*
#right-rail .rail-block {
	border-bottom:2px dotted #BBBBBB;
	padding:20px 0;
}
#right-rail h3 {
	color:#666;
	font-size:14px;
	line-height:14px;
	font-weight:700;
	text-transform:uppercase;
	margin:0 0 15px 0;
}
#right-rail ul {
	margin:0;
	padding:0 0 0 18px;
}
#right-rail li {
	margin:0;
	padding:0;
}
#right-rail img {
	margin:5px 0;
}
*/
#fat-footer {
  background: #DEECF7;
  /* background:#3b5a77; */
  /* color:#555555; */
  text-align: center;
  color: #484848;
  font-size: 14px;
  line-height: 16px;
  border-top: 1px #CBCBCB;
  box-shadow: 0px 5px 5px 0 #CCC;
}
#fat-footer .col-md-4 {
  padding: 15px;
  border-top: 1px solid #ccc;
}
#fat-footer .footer-block {
  /*border-left:2px dotted #BBBBBB;*/
  padding: 10px;
}
#fat-footer .col-md-4:first-child .footer-block {
  border-left: 0;
}
#fat-footer h3 {
  color: #666;
  /* color:#FFF; */
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 15px 0;
}
#fat-footer ul {
  margin: 0;
  padding: 0 0 0 18px;
}
#fat-footer li {
  margin: 0;
  padding: 0;
}
.fat-footer-block .star-rating {
  background: url("../img/stars-shell.png") no-repeat;
  display: inline-block;
  width: 103px;
  height: 17px;
}
.fat-footer-block .star-rating-filled {
  background: url("../img/stars-filled.png") no-repeat;
  display: block;
  height: 17px;
}
.fat-footer-block.star-experience hr.hideStarExperience {
  margin-top: 48px;
}
/* #fat-footer  img {
	margin:5px 0;
} */
span.field-help-button,
div.field-help-button,
i.field-help-button {
  font-size: 26px;
  color: #AAA;
  vertical-align: top;
  cursor: pointer;
  padding-top: 4px;
  padding-left: 4px;
}
span.field-help-button:hover,
div.field-help-button:hover,
i.field-help-button:hover {
  color: #3A5A78;
}
.stars {
  font-size: 24px;
  color: #FBC104;
  margin: 0;
  /* line-height:30px; */
  margin-top: -8px;
}
footer {
  background: #484848;
  color: #fff;
  padding: 13px 0 20px 0;
  margin: 0 0 0 0;
  font-size: 14px;
  border-top: 8px solid #B5D4E9;
  box-shadow: 0px 2px 5px 0px #CCC;
}
footer a {
  color: #fff;
  padding: 0 15px;
  text-decoration: none;
}
footer a:hover {
  color: #fff;
  text-decoration: underline;
}
/* footer .legal {
	font-size: 14px;
} */
/* .btn {
	border-radius:0;
}
.btn-group .btn{ border-radius:5px; }
.btn.btn-primary, .btn.btn-secondary {
	color:#fff;

	letter-spacing:1px;
	border:0;
	text-transform:uppercase;
	font-size:12px;
	font-weight:700;
}
.btn:hover {
	color:#fff;
	text-decoration:underline;
}
.btn.btn-primary {
	background:#822c2f;
}
.btn-left {
	float:left;
	background:#FFFFFF;
}
.btn.btn-default {
	background:#484848;
}
.btn.btn-secondary {
	background:#484848;
}

.btn.btn-default:focus { border:1px solid red;}
.btn-group .btn-default.active {
	border:2px solid #6FB100;
}
 */
.steps {
  padding-top: 7px;
  background: #FFFFFF;
  /*padding-bottom:7px;*/
}
.step {
  width: 19%;
  margin-right: 4px;
  padding: 0;
  margin-bottom: 10px;
  display: inline-block;
  float: left;
}
.step,
.step.complete,
.step.current {
  background: #fff;
}
.step .text {
  color: #888;
  background: #FFF;
  background: transparent;
  font-size: 12px;
}
.step .bubble {
  height: 6px;
  background: #888888;
  display: block;
}
.step.complete .text {
  color: #018852;
  background: transparent;
}
.step.complete .bubble {
  background-color: #018852;
}
.step.current .text {
  color: #484848;
  font-weight: bold;
  background: transparent;
}
.step.current .bubble {
  background-color: #F7941F;
}
.step.complete .text:before {
  content: "";
  height: 8px;
  width: 12px;
  float: left;
  margin-top: 4px;
  margin-right: 2px;
  background: url('../img/sprite.png');
  background-position: 0px -310px;
}
/* FAQ */
.faq-container .faq-accordion-trigger {
  display: block;
  padding: 0 0 0 20px;
  margin-top: 14px;
  position: relative;
}
.faq-container .faq-accordion-trigger:last-child {
  margin-top: 0;
}
.faq-container .faq-accordion-trigger span.icon {
  background: url('../imgs/sprite.png') no-repeat;
  background-position: -5px -1349px;
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 18px;
}
/*.faq-container .faq-accordion-trigger.collapsed  span.icon {
	background-position: 0 -1311px;
}
.faq-container .faq-answer {
	color: #666;
	margin: 0 0 10px 20px;
}*/
/* ACCORDION */
.accordion .panel-heading {
  background: #777;
  color: #FFF;
  border-radius: 0;
  text-transform: uppercase;
  border: 0;
  border-left: 5px solid #B7D3E9;
}
.accordion.panel-group .panel {
  margin: 1px 0;
  border-radius: 0;
  border: 0;
}
.accordion .panel-collapse {
  border: 1px solid #CCC;
  border-top: 0;
}
a.fa-question-circle:hover,
a.fa-question-circle:active {
  text-decoration: none;
}
.popover {
  width: auto;
  /* Max Width of the popover (depending on the container!) */
  border-bottom: 6px solid #3A5A78;
  left: 0 !important;
  background-color: #F0F6FB;
  margin-left: 20px;
  margin-right: 20px;
  min-width: 90%;
}
.popover-title {
  color: #484848;
  font-size: 14px;
}
.popover .arrow {
  /* left: 230px !important;  or 45% etc */
}
.popover.top > .arrow:after {
  border-top-color: #3A5A78;
}
/*.modal-dialog {
  position: fixed;
  top: 10%;
  left: 18.5%;
  z-index: 1050;
  width: 80%;
  height: 80%;
  margin-left: -10%;
}*/
/* MODAL TWEAKS */
/* .modal-header {
	padding:8px 15px;
} */
/*THESE TWO KEEP THE COLUMNS THE SAME HEIGHT
.row { display:table; }
[class*="col-"] {
	float:none;
	display:table-cell;
	vertical-align:top;
}
*/
.re-utility-links {
  font-family: arial;
}
.re-utility-links,
.re-utility-links a,
.re-mobile-call-me-now a {
  font-weight: bold;
  color: #3A5A78;
}
.re-utility-links div {
  display: inline-block;
  padding-left: 30px;
}
.panel-danger.re-bs-error-panel {
  background-color: #fbf7f7;
  border-color: #822b2f;
  border-width: 2px;
}
.site-title {
  font-family: ProximaNova-Semibold, Arial, sans-serif;
  font-size: 18px;
  color: #484848;
  height: 80px;
  position: relative;
}
.site-title div {
  position: absolute;
  bottom: 10px;
  left: 80px;
}
.re-field-description {
  font-style: italic;
}
@media (min-width: 1024px) {
  .site-title {
    padding-left: 20px;
  }
}
/* 768 & ABOVE (DESKTOP / IPAD PORTRAIT) */
@media (min-width: 768px) {
  body {
    font-size: 14px !important;
  }
  h1,
  h2 {
    font-family: ProximaNova-Semibold, Arial, sans-serif;
  }
  site-header {
    background: #FFF;
    position: relative;
    height: 160px;
    /* border-bottom:1px solid #ccc; */
  }
  site-header .utility-bar {
    background: #F6F6F6;
    padding: 5px 15px 10px 15px;
    height: 32px;
    text-align: right;
  }
  site-header .logo {
    height: auto;
    padding: 13px;
    position: absolute;
    top: -32px;
    left: 0px;
    /*border:1px solid #ccc;*/
    z-index: 700;
    background: #fff;
    border-top: 0;
    box-shadow: 0 0 5px 0px #CCC;
  }
  site-header h2 {
    padding: 15px 0 0 190px;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    color: #555;
    display: inline-block;
  }
  site-header h2 span {
    display: inline-block;
    font-size: 17px;
    color: #777;
  }
  site-header .button-bar {
    padding: 15px 0;
    float: right;
  }
  .page-title {
    background: #b7d3e9;
    padding: 15px;
    height: 66px;
    top: -66px;
    position: relative;
  }
  .page-container {
    position: relative;
    top: -66px;
  }
  .footer-container {
    top: -66px;
    position: relative;
  }
  body {
    background-color: #F6F6F6 !important;
  }
  .site-title {
    font-family: ProximaNova-Semibold, Arial, sans-serif;
    font-size: 24px;
    color: #484848;
    padding-top: 7px;
  }
  .body-panel {
    border-right: 1px solid #CCC;
  }
  .re-field-description {
    font-size: 13px;
  }
  .field-error-message {
    font-size: 13px;
  }
  .form-group label.control-label {
    padding-top: 7px;
  }
  label.control-label.pad-top-0 {
    padding-top: 0;
  }
  .legal {
    padding-left: 70px;
    padding-right: 70px;
  }
}
.page-boundry {
  padding-left: 20px;
  padding-right: 20px;
}
.warning {
  color: #9F6000;
  background-color: #FEEFB3;
  margin-bottom: 15px;
}
.field-error-message {
  color: #DC3942;
  padding-top: 5px;
  display: block;
  font-weight: bold;
}
.field-error-message:before {
  content: "";
  height: 18px;
  width: 20px;
  float: left;
  background: url('../img/sprite.png');
  background-position: -40px -310px;
}
.nav-buttons {
  text-align: left;
  padding-top: 7px;
  padding-bottom: 7px;
}
.nav-buttons > .btn-default {
  float: left;
}
.nav-buttons > .btn.btn-primary {
  float: right;
}
.nav-buttons > .btn {
  float: left;
  text-transform: uppercase;
}
.no-wrap {
  white-space: nowrap;
}
.bold-text {
  font-weight: bold;
}
.uppercase {
  text-transform: uppercase;
}
.fat-footer-header,
.footer-phone {
  font-weight: bold;
}
.fat-footer-block {
  display: block;
}
.footer-content,
.footer-phone {
  display: inline-block;
}
.footer-content {
  padding-bottom: 8px;
}
.footer-phone {
  font-size: 18px;
  padding-top: 3px;
}
.footer-avlbl-time {
  font-size: 13px;
  vertical-align: top;
  padding-top: 4px;
  display: inline-block;
}
.re-utility-links {
  display: inline-block;
  padding: 0 15px;
}
site-header .re-utility-links {
  padding: 0 0 0 30px;
}
.fat-footer-yib-block-2 {
  display: inline-block;
  max-width: 120px;
  text-align: left;
}
.fat-footer-yib-block-1 {
  font-size: 36px;
}
.fat-footer-rating-number {
  font-size: 16px;
  /* vertical-align: super; */
  font-weight: bold;
  display: inline-block;
  color: #3A5A78;
}
.input-field-small {
  max-width: 80px;
  width: 80px !important;
}
.input-field-medium {
  max-width: 160px;
}
.addon-input-wrapper-small {
  max-width: 80px;
  width: 80px;
  display: inline-table;
}
.addon-input-wrapper-medium {
  max-width: 160px;
  display: inline-table;
}
.addon-input-wrapper-small input.form-control,
.addon-input-wrapper-medium input.form-control {
  width: 100%;
}
footer .col-xs-12 {
  margin-bottom: 4px;
}
footer a:visited {
  color: #fff;
}
site-footer hr {
  padding: 0;
  pargin: 0;
  margin: 0;
}
footer .legal {
  font-size: 13px;
  color: #fff;
  font-style: italic;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}
.fat-footer-legal-link {
  font-size: 10px;
  vertical-align: super;
  font-weight: bold;
}
.footer-content-bottom {
  padding-top: 8px;
}
.inner-div-left {
  float: left;
  display: inline-block;
}
.inner-div-right {
  float: right;
}
.desc-div {
  float: left;
  margin-bottom: 10px;
  margin-left: 30px;
  font-size: 90%;
}
.inner-div-left1 {
  float: left;
  display: block;
  padding-left: 66px;
  max-width: 100%;
}
.inner-div-left1 input {
  display: inline-block;
  vertical-align: top;
}
.inner-div-left1 label {
  display: inline-block;
  width: 96%;
}
.inner-div-left2 {
  float: left;
  margin-bottom: 10px;
  padding-left: 66px;
  font-size: 95%;
  margin-top: -10px;
  margin-left: -35px;
  display: inline-flex;
}
.inner-div-left3 {
  float: left;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 30px;
  font-size: 90%;
}
.label-color {
  color: #2E6DA4;
  font-weight: bold;
  margin-left: 7px;
  display: inline-block;
}
.label-color p.label-color {
  margin-left: 13px;
}
.rating-color {
  color: orange;
  font-size: 130%;
  margin-left: 60px;
}
.review-font {
  font-size: 13px;
  font-family: Arial #484848;
}
.div-bottom {
  margin-bottom: 15px;
}
.div-top {
  margin-top: 15px;
}
.outer-div {
  margin-top: 15px;
}
.border-div {
  border-bottom: 1px solid #CCC;
  width: 100%;
}
.borderdiv-margin {
  border-bottom: 1px solid #CCC;
  width: 95%;
  margin-left: 14px;
}
.rating-align {
  margin-left: 50px;
}
.rating-align-h3 {
  margin-left: 100px;
}
.bold-font {
  font-weight: bold;
}
.field-error-message {
  color: #DC3942;
  padding-top: 5px;
  display: block;
  font-weight: bold;
}
.field-error-message:before {
  content: "";
  height: 18px;
  width: 20px;
  float: left;
  background: url('../img/sprite.png');
  background-position: -40px -309px;
}
.nav-buttons > .btn-primary {
  float: right;
}
.nav-buttons a {
  padding-top: 6px;
  display: inline-block;
}
.radio-toolbar input[type="radio"] {
  display: none;
}
.radio-toolbar label {
  display: inline-block;
  border-style: solid;
  border-color: #D0D5D6;
  border-width: 1px;
  background-color: #FFFFFF;
  padding: 4px 11px;
  font-family: Arial;
  font-size: 16px;
}
.radio-toolbar input[type="radio"]:checked + label {
  background-color: #bbb;
}
.div-header {
  font-size: 18px;
  color: #2E6DA4;
}
.title-header {
  color: #1947A3;
}
.title-desc {
  color: #0000FF;
}
.date-margin {
  margin-bottom: 2px;
}
label.control-label {
  color: #484848;
  margin-bottom: 0;
}
.form-group {
  margin-bottom: 18px;
}
.phone-number a {
  text-decoration: none;
  color: inherit;
}
#phone-one {
  position: relative;
  display: inline-block;
  top: 0px;
  margin-right: -12px;
  left: 3px;
  clear: both;
  color: #AAA;
}
.product-stars {
  font-size: 18px;
  color: #FBC104;
  margin-top: -8px;
}
.star-rating-small {
  background: url("../img/stars-shell-small.png") no-repeat;
  display: inline-block;
  height: 10px;
  width: 60px;
}
.star-rating-filled-small {
  background: url("../img/stars-filled-small.png") no-repeat;
  display: block;
  height: 10px;
}
a:hover img {
  text-decoration: none;
}
.faq-icon-wrapper {
  display: inline-block;
  padding-right: 10px;
  vertical-align: top;
}
.faq-link-wrapper {
  display: inline-block;
  max-width: 95%;
  vertical-align: top;
}
.faq-answer-wrapper {
  padding-top: 5px;
}
.faq-inline {
  display: inline-flex;
}
@media (max-device-width: 480px) {
  .desc-div {
    float: left;
    margin-bottom: 10px;
    margin-left: 30px;
    /*font-size: 60%;*/
  }
  .inner-div-left1 {
    float: left;
    padding-left: 66px;
    font-size: 90% !important;
  }
  .inner-div-left2 {
    float: left;
    margin-bottom: 10px;
    margin-top: 10px !important;
  }
  .inner-div-left3 {
    float: left;
    margin-bottom: 10px;
    margin-top: 10px;
    /* font-size: 60%; */
  }
  .bold-font {
    font-weight: bold;
    font-size: 80%;
  }
  .accordion-content {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 1px 0;
    font-size: 70%;
  }
}
@media (max-width: 1024px) {
  .rating-align-h3 {
    margin-left: 30px !important;
  }
  .rating-align {
    margin-left: 30px !important;
  }
  .rating-align-h1 {
    margin-left: 30px !important;
  }
  .product-st {
    display: block;
  }
  .product-review {
    display: block;
    margin-left: 29px !important;
  }
  h3.accordion {
    margin: 0;
  }
  /*.alert{
	background:#F0F6FB;
  font-family: Arial;
  font-size: 14px;
  box-shadow:0px 0px 15px rgba(0,0,0,.5);

}
.alert button {
	position: relative;
	padding: 0;
  font-size: 15px;
  color: #999;
}

.alert button:hover {
  color: #000;
} */
}
.ul-list {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0px !important;
}
@media (max-device-width: 700px) {
  .stat-desc {
    display: none;
  }
  .label-color {
    color: #2E6DA4;
    font-weight: bold;
    margin-left: 7px;
  }
  .label-color p.label-color {
    margin-left: 13px;
  }
}
@media (max-width: 768px) {
  .product-sel {
    Background: #FBF7F7;
    Border: 2px solid #DC3942;
    height: 50px !important;
    width: 100% !important;
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;
    color: #484848;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 10px;
  }
  .rating-align-h1.star-rating-small {
    margin-left: 32px !important;
  }
  .rating-align-h3.star-rating-small {
    margin-left: 32px !important;
  }
  .rating-align.star-rating-small {
    margin-left: 32px !important;
  }
}
.product-sel {
  Background: #FBF7F7;
  Border: 2px solid #DC3942;
  height: 40px;
  width: 70%;
  font-family: Arial;
  font-size: 13px;
  font-weight: bold;
  color: #484848;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 10px;
}
.product-sel:before {
  content: "";
  height: 18px;
  width: 20px;
  float: left;
  background: url('../img/sprite.png');
  background-position: -40px -310px;
}
.unstyled::-webkit-inner-spin-button,
.unstyled::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}
.accordion a {
  padding: 10px;
  background: #ddd;
  color: #333;
  text-decoration: none;
  font-weight: bold;
  display: block;
  margin-bottom: 1px;
}
.accordion-content {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 1px 0;
}
.acc-content {
  margin-right: 20px;
}
.accordin-heigth {
  height: 60px;
}
.label-header {
  font-weight: normal;
  display: inline !important;
}
.btn.btn-primary:disable {
  background-image: url('../assets/img/save_button_spinner.gif');
}
site-header .non-hig-logo {
  max-width: 100%;
}
#messageScroll input[type="button"] {
  margin-bottom: 5px;
}
.label-inline {
  display: inline;
}
.tooComplex-phone-number {
  text-align: center;
  margin-top: -21px;
  margin-left: 15px;
  border: 4px solid #B7D3E9;
  padding: 10px;
}
.tooComplex-or {
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
}
.tooComplex-specialist {
  margin-top: 2px;
  text-align: center;
}
.tooComplex-wrapper {
  margin-top: 11px;
}
.tooComplex-alert-success {
  margin-top: -7px;
}
input#workersCompProduct,
input#liabilityProduct,
input#propertyProduct {
  display: inline-block;
  margin-top: 0;
}
.business-lib-limit {
  margin-right: 2px;
  max-width: 183px;
  max-width: 169px \9;
}
.business-lib-limit select {
  padding: 4px;
}
.popover {
  width: auto;
  margin-left: 20px;
  margin-right: 20px;
  max-width: none;
}
.text-deco-underline {
  text-decoration: underline;
}
.right-align {
  text-align: right;
}
.product-review {
  font-size: 13px !important;
  /* Added new property */
}
.change-text {
  border-color: #DC3942;
  background-color: #FBF7F7;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
label.control-label.change-label {
  color: #DC3942;
}
.legend-margin {
  margin-bottom: 0px;
}
span.grey-48 {
  color: #484848;
}
.alert-info,
.alert-danger,
.alert-warning,
.alert-success {
  color: #484848;
  font-weight: bold;
}
.btn.btn-primary.spinner {
  background-image: url('../../assets/img/save_button_spinner.gif');
  background-repeat: no-repeat;
  background-position: 73px 7px;
  padding-right: 36px;
}
.btn.btn-primary.spinner-processing {
  background-image: url('../../assets/img/save_button_spinner.gif');
  background-repeat: no-repeat;
  background-position: 113px 7px;
  padding-right: 36px;
}
.btn-view-more {
  float: left;
  background-color: #822B2F;
  color: #FFFFFF;
  font-weight: 700;
  position: relative;
  top: 20px;
  text-transform: uppercase;
  min-width: 80px;
  padding: 8px 15px;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  font-size: 14px;
  margin-bottom: 15px;
}
.btn-view-more:hover {
  background-color: #822B2F;
  border-color: #822B2F;
  text-decoration: underline;
}
#right-rail {
  border-left: 1px solid #cccccc;
  margin-left: -1px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
@media (max-width: 767px) {
  body {
    font-size: 16px !important;
  }
  .re-field-description {
    font-size: 14px;
  }
  .site-title div {
    line-height: 16px;
  }
  span.field-help-button,
  div.field-help-button,
  i.field-help-button {
    margin: 4px 4px 8px 4px;
  }
  .field-error-message {
    font-size: 14px;
  }
  .page-content-container {
    padding-right: 0px;
  }
  .footer-phone {
    font-size: 20px;
  }
  #fat-footer {
    font-size: 16px;
  }
  .footer-avlbl-time {
    font-size: 14px;
  }
  .re-header-help-text {
    font-size: 14px;
  }
  .non-hig-aarp .site-title div {
    line-height: 16px;
    left: 0;
  }
  site-header .non-hig-logo {
    top: -31px;
    max-height: 59px;
    height: inherit;
  }
  .non-hig-aarp.site-title {
    margin-top: 50px;
  }
  .non-hig-aarp div {
    left: 0;
  }
  .tooComplex-specialist {
    margin-top: 3px;
    text-align: center;
  }
  .tooComplex-phone-number {
    margin-bottom: 5px;
  }
  .tooComplex-alert-success {
    margin-top: 0;
  }
  .popover.top > .arrow {
    margin-left: -13px;
    bottom: -16px;
  }
  .dropdown-menu li a {
    padding-top: 9px;
    font-size: 16px;
    padding-bottom: 8px;
  }
  .business-lib-limit {
    max-width: 198px;
  }
  #messageScroll input[type="button"] {
    white-space: normal;
    padding-left: 13px;
    padding-right: 12px;
  }
  .inner-div-left1 label {
    width: 88%;
  }
}
/*Added for US10*/
.product-unavailable {
  color: #666;
}
.product-unavailable .inner-div-left {
  margin-left: 30px;
}
.product-unavailable .desc-div.re-field-description {
  margin-left: 45px;
  clear: both;
}
#iframe-embed-responsive.embed-responsive {
  height: auto;
}
#iframe-embed-responsive.embed-responsive #embed-responsive-border {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  border: 5px solid #B6D3E9;
  padding-top: 12px;
}
.ptop-15 {
  padding-top: 15px;
}

.opt-cov-section {
  margin-top: 18px;
  height: auto;
  border: 1px solid #CCC;
  position: relative;
}
.opt-cov-section-header {
  height: auto;
  background: #F5F5F5;
}
.opt-cov-section-header {
  padding: 10px;
}
.opt-cov-section-dropdown {
  float: right;
}
.opt-cov-section-content {
  margin: 18px 0;
  padding: 0 15px;
  margin-top: 13px;
}
.opt-cov-section-content-details-title:before {
  content: "";
  /*top: 17px;*/
  left: -25px;
  position: relative;
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  display: inline-block;
}
.opt-cov-section-content-details-title {
  color: #2477BF;
  padding-left: 125px;
  margin-bottom: 9px;
}
.opt-cov-section-content-details-text {
  padding: 5px 15px 15px 100px;
}
.hideOptCovAnswers:before {
  background-position: 2px -329px;
}
.displayOptCovAnswers:before {
  background-position: -39px -329px;
}
#optCovBtn {
  margin-top: 18px;
}
@media (min-width: 768px) {
  .opt-cov-section-content:before,
  .water-ll-row:before {
    content: "";
    position: absolute;
    top: 47px;
    left: 0;
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    width: 60px;
    height: 65px;
    display: block;
  }
  #data-breach .opt-cov-section-content:before {
    background-position: -58px -570px;
  }
  #hired-auto .opt-cov-section-content:before {
    background-position: -124px -410px;
  }
  #employee-benefits .opt-cov-section-content:before {
    background-position: -124px -496px;
  }
  #animal-bailee .opt-cov-section-content:before {
    background-position: 10px -570px;
  }
  #food-contamination .opt-cov-section-content:before {
    background-position: 10px -630px;
  }
  #liquor-liab .opt-cov-section-content:before {
    background-position: -125px -636px;
  }
  #pet-groomers .opt-cov-section-content:before {
    background-position: -125px -570px;
  }
  #technology-services .opt-cov-section-content:before {
    background-position: -58px -634px;
  }
  #water-ll .opt-cov-section-content:before {
    background-position: 3px -704px;
    background-image: none;
  }
  #water-ll .water-ll-row:before {
    background-position: 3px -704px;
  }
  .water-tll-row:after {
    background-position: -60px -704px;
    content: "";
    position: absolute;
    left: 0;
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    width: 60px;
    height: 65px;
    display: block;
  }
  #limited-care-custody-control .opt-cov-section-content:before {
    background-position: -128px -704px;
  }
  #epli-id .opt-cov-section-content:before {
    background-position: 3px -770px;
  }
  .opt-cov-input-label {
    padding-left: 115px;
    padding-top: 5px;
  }
}
/* For mobiles */
@media (max-width: 767px) {
  .opt-cov-section-header label {
    width: 100%;
  }
  .opt-cov-section-dropdown {
    float: none;
  }
  .opt-cov-section-content-details-title {
    color: #2477BF;
    padding-left: 25px;
  }
  .opt-cov-section-content-details-text {
    padding: 5px 15px 0 0;
  }
}

.processing-wrapper {
  border: 1px solid #888888;
  margin: 0 auto;
  text-align: center;
}
.processing-border {
  border-top: 5px solid #B7D3E9;
}
.processing-wrapper p {
  margin-bottom: 0px;
  margin-top: 0;
}
.processing-quote-text {
  color: #3A5A78;
  font-family: 'Arial Bold', 'Arial';
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  margin-top: 20px;
}
.processing-quote-info .processing-message {
  margin-bottom: 15px;
  display: inline-block;
}
.processing-image {
  margin-bottom: 15px;
  margin-top: 10px;
  height: 19px;
}
.processing-save-quote {
  display: block;
  padding: 20px 13px;
  background: #F6F6F6;
}
.processing-email-message {
  display: table-row;
  padding: 20px;
  padding-top: 15px;
}
.processing-email-message img {
  display: table-cell;
  vertical-align: top;
}
.processing-email-message span {
  display: table-cell;
  width: auto;
  vertical-align: top;
  text-align: left;
  font-family: 'Arial Bold', 'Arial';
  font-size: 13px;
  font-weight: bold;
}
.email-icon {
  /*display: table-cell;*/
  width: 49px;
  height: 30px;
  margin-top: 1px;
  background: url('../img/sprite.png') 109px -345px;
  position: relative;
}
.progress-bar-success {
  background-color: #EA9047;
}
@keyframes progress-bar-stripes {
  from {
    background-position: 0px 0;
  }
  to {
    background-position: 40px 0;
  }
}
.progress-container {
  padding: 0 68px;
  padding-top: 10px;
}
.progress {
  background: none;
  margin-bottom: 0px;
}
.processing-model-content {
  margin: 0 auto;
  width: 350px;
}
.progress-striped .progress-bar-success {
  background-image: -webkit-linear-gradient(130deg, rgba(255, 255, 255, 0.15) 30%, transparent 36%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(130deg, rgba(255, 255, 255, 0.15) 30%, transparent 36%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(130deg, rgba(255, 255, 255, 0.15) 30%, transparent 36%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  border-radius: 3px;
  height: 12px;
}
.progress.active .progress-bar,
.progress-bar.active {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
  -o-animation: progress-bar-stripes 2s linear infinite;
  animation: progress-bar-stripes 2s linear infinite;
}
@media (max-width: 767px) {
  .processing-wrapper {
    width: auto;
  }
  .processing-email-message {
    width: auto;
  }
  .processing-model-content {
    width: 290px;
  }
}

.fa-comment {
  width: 20px;
  height: 18px;
  margin: 0;
  margin-right: 5px;
  padding: 0;
  top: 0;
  background: url(../../assets/img/sprite.png) 0 -160px;
  float: left;
  position: relative;
}
.fa-comment:hover {
  background-position: -40px -160px;
}
.fa-phone {
  width: 16px;
  height: 17px;
  margin: 0;
  margin-right: 5px;
  padding: 0;
  top: 0;
  background: url(../../assets/img/sprite.png) 0 -179px;
  float: left;
  position: relative;
}
.fa-phone:hover {
  background-position: -40px -179px;
}
.fa-pencil {
  width: 16px;
  height: 16px;
  margin: 0;
  margin-right: 4px;
  padding: 0;
  top: 0;
  background: url(../../assets/img/sprite.png) 0 -380px;
  float: left;
  position: relative;
}
.fa-pencil:hover {
  background-position: -40px -380px;
}
.fa-faq {
  width: 18px;
  height: 19px;
  margin: 0;
  margin-right: 5px;
  padding: 0;
  top: 0;
  background: url(../../assets/img/sprite.png) 0 -199px;
  float: left;
  position: relative;
}
.fa-faq:hover {
  background-position: -40px -199px;
}
.fa-question-circle {
  display: inline-block;
  float: auto;
  width: 25px;
  height: 25px;
  margin-left: 4px;
  margin-top: 4px;
  background: url(../../assets/img/sprite.png) 0 -220px;
  position: relative;
}
.fa-question-circle:hover {
  background-position: -40px -220px;
}
@media (max-width: 767px) {
  .fa-question-circle {
    display: inline-block;
    float: auto;
    width: 30px;
    height: 30px;
    margin-left: 4px;
    margin-top: 4px;
    background: url(../../assets/img/sprite.png) 0 -250px;
    position: relative;
  }
  .fa-question-circle:active {
    background-position: -40px -250px;
  }
  .fa-question-circle.clicked {
    background-position: -40px -250px;
  }
}
.fa-times {
  width: 14px;
  height: 14px;
  margin: 0;
  top: 8px;
  padding: 0;
  background: url(../../assets/img/sprite.png) 0px -290px;
  float: right;
  position: relative;
}
.fa-times:hover {
  background-position: -40px -290px;
}
.fa-plus {
  display: inline-block;
  width: 13px;
  height: 13px;
  margin: 0;
  top: 0;
  padding: 0;
  background: url(../../assets/img/sprite.png) 0 -330px;
  float: auto;
  position: relative;
}
.fa-minus {
  display: inline-block;
  width: 13px;
  height: 13px;
  margin: 0;
  top: 0;
  padding: 0;
  background: url(../../assets/img/sprite.png) -40px -330px;
  float: auto;
  position: relative;
}
.calendar {
  width: 40px;
  height: 30px;
  margin-left: 4px;
  margin-top: 1px;
  background: url(../../assets/img/sprite.png) 0 -350px;
  position: relative;
  float: right;
}
.calendar:hover {
  background-position: -40px -350px;
}
.fa-print {
  width: 16px;
  height: 17px;
  margin: 0;
  margin-right: 5px;
  padding: 0;
  top: 0;
  background: url(../../assets/img/sprite.png) -100px -379px;
  float: left;
  position: relative;
}
.fa-print:hover {
  background-position: -140px -379px;
}
input[type="checkbox"]:before {
  content: "";
  height: 18px;
  width: 18px;
  float: left;
  margin: -2px;
  background: url('../img/sprite.png');
  background-position: -100px -60px;
}
input[type="checkbox"]:checked:before {
  background-position: -130px -60px;
}
input[type="checkbox"]:focus:before {
  content: "";
  height: 18px;
  width: 18px;
  float: left;
  background: url(../../assets/img/sprite.png);
  background-position: -100px -90px;
}
input[type="checkbox"]:focus:checked:before {
  background-position: -130px -90px;
}
input[type="checkbox"]:disabled:before {
  content: "";
  height: 18px;
  width: 18px;
  float: left;
  background: url(../../assets/img/sprite.png);
  background-position: -100px -120px;
}
input[type="checkbox"]:disabled:checked:before {
  background-position: -130px -120px;
}
@media (max-width: 767px) {
  input[type="checkbox"]:before {
    content: "";
    height: 24px;
    width: 24px;
    float: left;
    margin: -2px;
    background: url('../img/sprite.png');
    background-position: -100px -210px;
  }
  input[type="checkbox"]:checked:before {
    background-position: -130px -210px;
  }
  input[type="checkbox"]:focus:before {
    content: "";
    height: 24px;
    width: 24px;
    float: left;
    background: url(../../assets/img/sprite.png);
    background-position: -100px -240px;
  }
  input[type="checkbox"]:focus:checked:before {
    background-position: -130px -240px;
  }
  input[type="checkbox"]:disabled:before {
    content: "";
    height: 24px;
    width: 24px;
    float: left;
    background: url(../../assets/img/sprite.png);
    background-position: -100px -270px;
  }
  input[type="checkbox"]:disabled:checked:before {
    background-position: -130px -270px;
  }
}
input[type="radio"]:before {
  content: "";
  height: 18px;
  width: 18px;
  float: left;
  margin: -2px;
  background: url('../img/sprite.png');
  background-position: -100px 0;
}
input[type="radio"]:checked:before {
  background-position: -130px 0;
}
input[type="radio"]:focus:before {
  content: "";
  height: 18px;
  width: 18px;
  float: left;
  background: url(../../assets/img/sprite.png);
  background-position: -100px -30px;
}
input[type="radio"]:focus:checked:before {
  background-position: -130px -30px;
}
@media (max-width: 767px) {
  input[type="radio"]:before {
    content: "";
    height: 24px;
    width: 24px;
    float: left;
    margin: -5px;
    background: url('../img/sprite.png');
    background-position: -100px -150px;
  }
  input[type="radio"]:checked:before {
    background-position: -130px -150px;
  }
  input[type="radio"]:focus:before {
    content: "";
    height: 24px;
    width: 24px;
    float: left;
    background: url(../../assets/img/sprite.png);
    background-position: -100px -180px;
  }
  input[type="radio"]:focus:checked:before {
    background-position: -130px -180px;
  }
}

#price-row {
  margin: 20px 0px 5px 0px;
  background: #DEECF7;
  padding: 15px;
  font-size: 16px;
  color: #484848;
}
#price-col {
  background: white;
  padding: 15px;
}
#bizName {
  font-size: 22px;
  line-height: 26px;
  border-bottom: 1px solid #CCC;
  font-family: 'ProximaNova-Semibold';
  padding-bottom: 5px;
  margin-bottom: 5px;
  white-space: normal;
}
#estPremText {
  margin-top: 3px;
  font-weight: 700;
}
#price {
  color: #018852;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
}
#price .cents {
  top: -1em;
  font-size: 45%;
}
#price .cents span {
  text-decoration: underline;
}
#breakout {
  margin-top: 5px;
  font-size: 13px;
}
#breakout td {
  padding-right: 15px;
  padding-top: 3px;
}
.clarifying {
  font-size: 14px;
  font-style: italic;
  margin: 0;
  color: #666;
}
#next-step {
  text-align: center;
  padding: 15px;
  padding-bottom: 0;
}
#ready {
  font-size: 18px;
  margin: 0;
}
#mainPhone {
  font-size: 32px;
  font-weight: 700;
  margin: 0;
  line-height: 40px;
}
#next-step a {
  font-weight: 700;
  display: inline-block;
  padding: 10px 15px 0px 15px;
  white-space: nowrap;
  color: #3a5a78;
}
#next-step a:hover {
  text-decoration: underline;
}
#next-step a:visited {
  color: #3a5a78;
}
#legal {
  margin-top: 0;
  padding: 0 25px;
  font-size: 13px;
  font-style: italic;
  color: #666;
}
#highlights {
  margin: 0 0px;
  padding: 0;
  margin-bottom: 20px;
  color: #484848;
}
#highlights table {
  width: 100%;
}
#highlights td {
  padding: 5px 0;
  font-size: 14px;
  line-height: 16px;
  vertical-align: top;
}
#highlights table tr td:last-child {
  text-align: right;
  padding-left: 20px;
}
#highlights .highlight-title {
  margin-top: 30px;
  font-size: 16px;
  border-bottom: 1px solid #CCC;
  color: #3A5A78;
  font-family: 'ProximaNova-Semibold';
  clear: both;
  padding-bottom: 3px;
}
#highlights .highlight-title a {
  padding-left: 20px;
}
#highlights .highlight-title .edit {
  padding-left: 0px;
}
#highlights .highlight-title .edit .fa {
  margin-top: 4px;
}
#highlights a {
  font-size: 14px;
}
#highlights .highlight-title .links {
  font-family: Arial;
  text-align: right;
  float: right;
}
#highlights .highlight-content {
  margin-top: 5px;
}
/*#propertyModal p{
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
}*/
#model-body {
  Background: #FFFFFF;
  Box-Shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);
}
#next-step .re-utility-links {
  padding: 0px;
}
#next-step .re-utility-links div {
  padding-left: 0;
}
/* 768 & ABOVE (DESKTOP / IPAD PORTRAIT) */
@media (min-width: 768px) {
  #highlights .highlight-title {
    font-size: 18px;
  }
  #bizName {
    font-size: 28px;
    line-height: 30px;
  }
  #price-row {
    font-size: 14px;
  }
  .clarifying {
    font-size: 13px;
  }
  .quote-container {
    margin-right: -20px;
  }
  #highlights .highlight-content {
    padding-left: 65px;
    min-height: 60px;
    position: relative;
  }
  #highlights #prop .highlight-content {
    padding-left: 65px;
    position: relative;
  }
  /* #highlights #prop .icon  {
         background:url(imgs/bc-comm-property.png) 0px 5px no-repeat;
         padding-left:0px;
         width:50px;
         height:50px;
         float:left;

     }*/
  #highlights #prop img {
    position: absolute;
    top: 6px;
    left: 0;
  }
  #highlights .highlight-content:before {
    content: "";
    position: absolute;
    top: 4px;
    left: 0;
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    width: 60px;
    height: 65px;
    display: block;
  }
  #highlights #liab .highlight-content:before {
    background-position: 0px -500px;
  }
  #highlights #prop .highlight-content:before {
    background-position: 0px -420px;
  }
  #highlights #wc .highlight-content:before {
    background-position: -60px -420px;
  }
  #highlights #freq .highlight-content:before {
    background-position: -60px -500px;
  }
  #price-col {
    min-height: 183px;
  }
}
/* For tablets */
@media (min-width: 768px) and (max-width: 991px) {
  .prop-liab-div,
  .faoc-wc-div {
    width: 100%;
  }
}
/* For mobiles */
@media (max-width: 767px) {
  /* #next-step a{ width: 50%; }*/
  .prop-liab-div,
  .faoc-wc-div {
    width: 100%;
  }
}
/*@media print {
    #price-row.row{ margin:0;padding:0;}
    .col-md-6 { width:48%; float:left;}
    .col-md-4 { width:48%; float:left;}
    #price-col .col-lg-6 {width:49%; float:left;}
    #price-col  {width:64%; float:left;}
    #next-step {width:35%; float:left;padding-top:80px;}
    #price { font-size:28px; }
    #price .cents {font-size:14px;}
    #next-step, #price-col .col-lg-6, #price-col .col-md-6, #price-col .col-lg-12  {margin-left:0;margin-right:0;padding-left:0;padding-right:0;}
    #fat-footer .col-md-4:first-child { display:none; } /!*hide the first block in the fat footer *!/

    #mainPhone { font-size:18px;}
    #ready {font-size:13px;}
    .row {margin-left:0;margin-right:0;padding-left:0;padding-right:0;}
    .page-title { display:none;}
    .highlight-content, .highlight-content table tr td { font-size:12px !important;}
    #legal, .legal { font-size:10px; }
    a { display:none !important; }
    #fat-footer, #footer { font-size:12px;}
}*/
.processing-text {
  padding: 10px;
}

@page {
  size: auto;
  /* auto is the initial value */
  /* this affects the margin in the printer settings */
  margin: 25mm 25mm 25mm 25mm;
}
@media print {
  body {
    margin: 0;
    padding: 0;
  }
  a[href]:after {
    content: none !important;
  }
  .page-container {
    padding: 0;
  }
  .col-md-6,
  .col-lg-6 {
    width: 50%;
    float: left;
  }
  site-header .logo {
    display: block !important;
  }
  .site-title {
    font-size: 24px;
    border-bottom: 1px solid #CCC;
  }
  .re-mobile-call-me-now {
    display: none !important;
  }
  #price {
    font-size: 28px;
  }
  #ready {
    font-size: 12px;
  }
  #mainPhone {
    font-size: 18px;
  }
  #legal {
    font-size: 10px;
  }
  #highlights .highlight-title {
    font-size: 16px;
  }
  #highlights #wc .highlight-content::before {
    display: none !important;
  }
  #highlights td {
    font-size: 12px;
  }
  .highlight-content p,
  .highlight-content span {
    font-size: 12px;
  }
  .stars {
    display: block !important;
  }
  .re-header-help-text {
    display: none !important;
  }
  header a,
  #highlights a,
  #next-step a,
  .footer a {
    display: none !important;
  }
  .phone-number span {
    display: block !important;
  }
  .fat-footer-header,
  .footer-phone,
  .footer-avlbl-time {
    display: none !important;
  }
  .button-bar.footer-content-bottom {
    display: none !important;
  }
  #fat-footer .col-md-4 {
    width: 48%;
    float: left;
  }
  #fat-footer .col-md-4:first-child {
    display: none;
  }
  .stars {
    margin-top: 4px !important;
  }
  .privacy-legal-wrapper {
    display: none;
  }
  footer {
    border-top: none !important;
  }
  .cents {
    font-size: 14px;
  }
  #price-col {
    width: 60% !important;
    padding: 0 !important;
  }
  #next-step {
    width: 40% !important;
    padding: 0 !important;
  }
  .fat-footer-block .star-rating {
    display: none;
  }
  .fat-footer-block .star-rating-filled {
    display: none;
  }
}
