<div class="row-content" ng-controller="pageTitleCtrl">
	<!--<span class="visible-xs-block re-mobile-call-me-now" ng-show="!isHoursOfOperation">
		<a href="" ng-controller="callCtrl" ng-click="open()" class="a-no-decoration">
			<span class="fa fa-phone"></span> <span>{{requestACall}}</span>
		</a>
	</span> -->
	<!--<span class="re-header-help-text visible-xs-block">
		<span class="re-header-phone"><phone-number></span>
		<div>{{hoursOfOperation}}</div>
	</span>-->
	<h1 class="hidden-xs site-title">Lazy Coder's App</h1>
</div>