<div ng-controller="beginCtrl as cfv">
	<form name="beginForm" novalidate quote-dirty-flag>
		<div class="form-group">
			<h2 class="re-section-header">Page Title</h2>
		</div>
		<!-- Registered Business Name -->
		<div class="form-group">
			<div class="row">
				<div class="col-lg-5">
					<label for="regBizNameId" class="control-label">Field 1</label>
				</div>

				<div class="col-lg-7">
					<div class="re-full-width-input">
						<input type="text" ng-model="contact.CommercialName" name-type
							   class="form-control" name="regBizName" id="regBizNameId"
							   help-message="{{contactPageLabels.PageContent.REGISTERED_BUSINES_NAME_HELP}}"
							   tealium-blur
							   data-dl = '{"id":"registered business name","location": "contact page","type":"input field","da_track":"true"}'
							   maxlength="255" validate
							   validate-message-maxlength="{{contactCodeListsMessages.contactMaxLength}}"/>

					</div>
				</div>
			</div>
		</div>
		<!-- DBA (if applicable) -->
		<div class="form-group">
			<div class="row">
				<div class="col-lg-5">
					<label for="dbaNameId" class="control-label">Field 2</label>
				</div>
				<div class="col-lg-7">
					<div class="re-full-width-input">
						<input type="text" ng-model="contact.SupplementaryName" name-type
							   tealium-blur
							   data-dl = '{"id":"dba","location": "contact page","type":"input field","da_track":"true"}'
							   class="form-control" name="dbaName" id="dbaNameId" validate
							   help-message="{{contactPageLabels.PageContent.DBA_HELP}}" maxlength="255"
							   validate-message-maxlength="{{contactCodeListsMessages.contactMaxLength}}"/>

					</div>
				</div>
			</div>
		</div>
		<!-- Business Street Address -->
		<div class="form-group">
			<div class="row">
				<div class="col-lg-5">
					<label for="bizStrtAddId" class="control-label">Field 3</label>
				</div>
				<div class="col-lg-7">
					<div class="re-full-width-input">
						<input type="text" ng-model="contact.BusinessAddress.Addr1"
							   class="form-control"
							   help-message="{{contactPageLabels.PageContent.BUSINESS_STREET_ADDRESS_HELP}}" name="bizStrtAdd"
							   id="bizStrtAddId" maxlength="255"
							   ng-blur="callCleanseAddress()"
							   tealium-blur
							   data-dl = '{"id":"business address","location": "contact page","type":"input field","da_track":"true"}'

							   validate
							   validate-result="{{contact.streetLineType=='P' || contact.showAdddressMessage}}"
							   validate-message-custom={{contact.businessStAddValidationMsg}}
							   validate-message-maxlength="{{contactCodeListsMessages.contactMaxLength}}"
							   street-type/>


					</div>
				</div>
			</div>
		</div>
		<!-- City -->
		<div class="form-group inline-input">
			<div class="row">
				<div class="col-lg-12 nav-buttons">
					<input type="button" class="btn btn-default" id="btnPrevId"
						   value="Back"
						   ng-click="cfv.gotoPreviousPage()"
						   tealium-link
						   waitIndicatorDirective />
					<input type="button"
						   class="btn btn-primary" id="btnNext" ng-value="continueButtonValue"
						   ng-click="saveBegin();"/>
				</div>
			</div>
		</div>
	</form>
</div>
